{% extends "authorization.html" %}
{%load static%}
{% block content %}
<style>
  .auth-contain{
    flex-direction: column;
  }
</style>
{% if next %}
  {% if user.is_authenticated %}
    <h6>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</h6>
  {% else %}
    <h6>Please login to see this page.</h6>
  {% endif %}
{% endif %}
<a href="/">
<img src="{%static 'img/logo.png'%}" alt="">
</a>
{% if form.errors %}
    <h6 style="color: #F44336;">Пользователя с таким логином и паролем не существует!</h6>
{% endif %}
<form method="post" action="{% url 'login' %}" class="auth_user" style="display: flex; flex-direction: column; align-items: center;">
{% csrf_token %}
<table>
  
<div style="display: flex; justify-content: space-between; width: 100%;">
  
  <h5 style="color: black">Авторизация</h5>
  <a href="/accounts/registration" style="display: flex;"><h6 style="align-self: flex-end; margin-bottom: 10px; margin-left: 10%;">Регистрация</h6></a>
</div>
<tr>
  <td>
    <label for="#id_username"><i class="material-icons prefix">account_circle</i></label>
  </td>
  <td >{{ form.username }}</td>
</tr>

<tr>
  <td>
    <label for="#id_password"><i class="material-icons prefix">no_encryption</i></label>
  </td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти" style="background-color: #16a086; width: 80%; height: 40px; margin-top: 10%; border: 1px solid #16a086; border-radius: 3px;"/>
<input type="hidden" name="next" value="{{ next }}" />
{# Assumes you setup the password_reset view in your URLconf #}
<h6><a href="{% url 'password_reset' %}">Forgot password?</a></h6>
</form>
<script type="text/javascript" src="{% static 'js/verify.js' %}"></script>
{% endblock %}