{% extends "authorization.html" %}
{% block content %}
{% load static %}
<h1>The password has been changed!</h1>
<p><a href="{% url 'login' %}">log in again?</a></p>
<link rel="stylesheet" href="{% static 'css/Cabinet.css' %}">
{% endblock %}