{% extends "authorization.html" %}
{% block content %}

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div><label for="id_email">Email</label>
        {{ form.email }}
    </div>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}