{% extends "authorization.html" %}
{% block content %}
{%load static%}
<div class="account-info">
    <a href="/">
        <img src="{%static 'img/logo.png'%}" alt="">
    </a>
    <h5 style="color: black">Регистрация</h5>
    <ul>
        <li class="cen"><i class="material-icons left i-cen">account_circle</i><input class="black-text" id="login"
                type="text" placeholder="Введите логин"></li>
        <h6 id='log-error' style="color:red; display:none">Логин занят!</h6>
        <li class="cen"><input class="black-text" id="fname" type="text" placeholder="Введите имя"></li>
        <li class="cen"><input class="black-text" id="lname" type="text" placeholder="Введите фамилию"></li>
        <li class="cen"><i class="material-icons left i-cen">no_encryption</i><input class="black-text" id="pwd1"
                type="password" placeholder="Введите пароль"></li>
        <li class="cen"><i class="material-icons left i-cen">no_encryption</i><input class="black-text" id="pwd2"
                type="password" placeholder="Подтвердите пароль"></li>

        <h6 id='pwd-error' style="color:red; display:none">Пароли не совпадают!</h6>

        <li class="cen"><i class="material-icons left i-cen">email</i><input class="black-text" id="email" type="email"
                placeholder="Введите e-mail">
        </li>
        <li>
            <a id='regconfirm' class="waves-effect waves-light btn"><i class="material-icons right">send</i>Register</a>
        </li>
        <li>
            <h6 style="color: black; white-space: nowrap;">Есть аккаунт? Нажмите <a href="{% url 'login' %}">сюда</a></h6>
        </li>
    </ul>
</div>
{% endblock %}