{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подозрительная Активность</title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <style>
        body{
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2F323E;
            overflow: hidden;
        }
    </style>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h5 style="color: white; text-align: center;">
            Обнаружена подозрительное подключение,<br/>
            если вы хотите добавить эту сеть в список доверенных<br/>
            <br/>
            Введите код из письма на почте<br/>
            {{ email }}<br/>
            
        </h5>
        <input type="text" name="" id="verify_code" style="width: 40%; color: white;" placeholder="Код подтверждения">
        <button class='verify waves-effect waves-light btn-large ' style="background-color: #B83232;"><i
            class="material-icons right">send</i>Проверить код</button>
    </div>
    <script src="{% static 'js/verify.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>