{% extends "authorization.html" %}
{%load static%}
{%block content%}
    <form class="verify_contain" onsubmit="return false;">
        <h3 class="black-text">Вход в Умный куб</h3>
        <h6 class="black-text">Код подтверждения для username<br> отправлен на почту email.</h6>
        
        <input class="black-text verify_code" type="text" placeholder="Код подтверждения" maxlength="8">
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <script src="{% static 'js/verify.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{%endblock%}