input:focus, select:focus{outline:0}

body{
    color: #2F323E;
    /* min-width: 100%; */
    min-height: 100%;
    overflow: hidden;
}
.authorization{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-contain{
    /* margin-top: 20%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: white;
}
.auth-contain img{
    height: 90px;
}
.auth-contain input{
    margin: 10px;
    color: white;
    
}
.auth-contain p{
    color: #f44336;
    visibility: hidden;
    position: absolute;
}
input::placeholder {
    color: #767676;
  }
.account-info{
    margin-right: 10%;
}
.cen{
    display: flex !important;
}
.i-cen{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
#id_username, #id_password{
    color: black;
}
/* .verify_contain{
    background-color: white;
    border-radius: 10px;
} */