@media (max-width: 600px){
    .helloimg{
        width: 60vw !important;
        height: 60vw !important;
    }
    .cabinetblock{
        padding-top: 20% !important;
    }
    .device{
        width: 40vw !important;
    }
}
* {
    color: #131336;
}
body{
 overflow-y: hidden;
}
.cabinetblock{
    width: 100%; 
    padding: 3%;
    background-color:#f5f5fb;
    overflow-y: scroll !important;
    height: 90vh;


}
.collection-item{
    color: #131336 !important;
}
.vl {
    border-left: 1px solid black;
}
.logo{
    width: 60px;
    height: 60px;
}
.main-menu{
    /* width: 70%; */
}
.case-list{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    

}
.lamp{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    
    position: absolute;
    top: 5px;
    right: 5px;
}
.lamp.on{
    background-color: #76ff03 ;
}
.lamp.off{
    background-color: #e53935 ;
}

.event{
    min-width: 239px;
    overflow-wrap: anywhere;
    position: relative;
    /* background-color: cadetblue; */
    width: 40%;
    border-radius: 3px;
    margin: 2%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.event:hover{
    box-shadow: 0 0 5px 2px #767676;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);

}
.side-menu{
    display: flex;
    flex-direction: column;
    
    
}
.actual-info{
    /* height: 250px; */
    
    /* border-top: 1px solid skyblue; */
    
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 3%;

}
.noize-value{
    justify-content: center;
    align-items: center;
}
.news-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.news{
    width: 84%;
    /* height: 300px; */
    /* background-color: #add4df; */
    margin-right: 2%;
    /* border-left: 2px solid skyblue; */
}
.news-pad{
    margin: 0;
    margin-left: 10%;
    border-left: 2px solid skyblue;
}
.news-pad ul{
    width: 100%;
    height: 100%;
    margin: 0;
}
.news-pad ul li{
    margin-bottom: 2%;
}
.news-item{
    width: 100%;
    /* height: 70px; */
    /* background-color: #f45353; */
    /* opacity: 0.5; */
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.new-icon{
    width: 35px;
    height: 35px;
    /* background-color: aqua; */
    position: absolute;
    left: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.new-content{
    width: 90%;
    height: 100%;
    /* background-color: aliceblue; */
}
.event a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.circle-data{
    width: 150px;
    height: 150px;
    border: 3px solid #add4df;
    border-radius: 50% 50% 50% 0;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-icon{
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.wrap-icon:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.line-pad{
    position: relative;
    border-bottom: 2px solid #cecece;
    margin: 1%;
    padding: 2%;
    display: flex;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.line-pad:hover{
    box-shadow: 0 0 5px 2px #767676;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
}
.line-pad a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.pin{
    border-radius: 30%;
    min-width: 21px;
    height: 100%;
    margin-right: 4%;

}
.red-pin{
    background-color: #f45353;
}
.purp-pin{
    background-color: #474feb;
}
.green-pin{
    background-color: #3ff47b;
}
.yellow-pin{
    background-color: #fcfa76;
}
.orange-pin{
    background-color: #ff9c00 !important;
}
.sideinfograph{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
    background-color: #fefefe;
    position: relative;
    align-items: center;
}
.sideinfograph div{
    margin: 0;
    width: max-content;
    
}
.sideinfograph .collection{
    border: none !important;
}
.sideinfograph .collection .collection-item{
    background-color: #fefefe;
    border: none !important;
}
.device{
    border-radius: 10px;
    max-width: 239px;
    width: 239px;
    margin: 10px;
    position: relative;
}
.cabinetblock::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
.cube-item{
    
    margin: 2%;
    width: 100%;
    color: #2e2e4d;
}
.right-panel-trigger{
    color: #111026;
    background-color: rgba(229,233,250,0.1);
}
.right-panel-trigger:hover{
    background-color: rgba(229,233,250,1) !important;
}
.hello-block{
    width: 100%;
    background-color: #E0F8FF;
    border-radius: 20px;
    margin-top: 30px;
}
.helloimg{
    position: absolute;
    width: 25vw;
    height: 25vw;
    right: 0;
    bottom: 20%;
}
.shop-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin-bottom: 80px;
    height: 200px;
    background-color: #f5f5fb;
    position: relative;
    border-radius: 20px;
}
.shop-icon{
    width: 100px;
    position: absolute;
    top: -25%;
    height: auto;
}
.self-cube:hover{
    background-color: #f5f5f7;
}
.field_of_select_cube *{
    font-size: 35px;
}