html{ font-size:  62.5%;}
h3{
    font-family: 'Fira Sans', sans-serif;
}
.cart-main{
    width: 100%;
   
    padding: 5%;
    background-color: #efeff0;
}
.main-contain{
    width: 100%;
    height: 100%;
}
.list-cart{
    height: 100%;
}
.map-cart{
    height: 100%;
}
.marg{
    margin-bottom: 20px !important;
    border: none !important;
    color: #575757;
    font-size: 1.6rem;
}
.marg.active{
    background-color: #ff9c00 !important;
}
.cart-item{
    padding: 2% 1%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}
.prod_counter input{
    font-size: 14px;
}
.prod_counter span{
    font-size: 22px;
}
.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff9800;
    background-color: #ff9800;
}
.thumb-nails{
    width: 60px;
    height: 60px;
}
.minus{
    cursor: pointer;
}
.plus{
    cursor: pointer;
}
.number{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}