@media (max-width: 600px) {
    h1, h2, h3, h4, h5 {
        font-size: 28px;
    }
    .main-button{
        width: 100%;
    }
    .offers-item .card{
        width: 80vw !important;
    }
    .intro-content div, .desc-container{
        width: 90% !important;
    }
    .news-item-main{
        flex-direction: column-reverse;
    }
    .news-item-main div{
       width: 90% !important;
    }
    .popout li{
        margin: 0 !important;
    }
}
body{
    overflow-x: hidden;
    width: 100vw;
   
}
h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans', sans-serif;
}
.offers-item{
    margin: 1%;
}
.offers-item .card{
    height: 60vh;
    width: 25vw;
    
}
.news-item-main{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.buy-block{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.main-img{
    width: 30vw;
    height: auto;
}
nav img{
    width: 64px;
    height: auto;
}
.intro-content{
    width: 100%;
    /* height: 600px; */
    padding: 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.modal-wrapper{
background-color: #f8f8f8;
position: sticky;
display:flex;
justify-content: center;
top:0;
left:0px;
width:100vw;
height:64px;
z-index: 5;
}

.table-of-contents li{
    margin-left: 10px;
    margin-right: 10px;
}
.desc-container{
    width: 70vw;
}
#advantages{
    display: flex;
    justify-content: center;
}

.buy-card{
    margin: 0;
    padding: 0 !important;
}
.images-advent img{
    width: 100%;
    overflow: hidden;
}

.tabs .tab a {
    color: rgba(38, 166, 154, 0.7);
    overflow: visible !important;
    /*Custom Text Color*/
  }
  .tabs .tab{
      border-bottom: 2px solid #ececec;
  }
  .tabs .tab a:hover {
    color:#26a69a;
    /*Custom Color On Hover*/
  }
  .tabs .tab a.active{
    color:#26a69a;
  }
  .tabs .tab a:focus.active {
    color:#26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
  }
  
  .tabs .indicator {
    background-color:#26a69a;
    /*Custom Color Of Indicator*/
  }
  .triangle{
      position: absolute;
      right: 0 !important;
      border-top: 500px solid #638891;
      border-left: 250px solid transparent;
      
  }
  #offers .card{
      min-height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }