* {
    color: #131336 !important;
}
h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans', sans-serif;
}
.sideinfograph{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    background-color: #fefefe;
    position: relative;
    padding: 70px 0 0 40px;
    min-height: 91vh;
}
.sideinfograph div{
    margin: 0;
    width: max-content;
    
}
.sideinfograph .collection{
    border: none !important;
}
.sideinfograph .collection .collection-item{
    background-color: #fefefe;
    border: none !important;
}
.shop-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin-bottom: 80px;
    height: 200px;
    background-color: #f5f5fb;
    position: absolute;
    bottom: 50px;
    border-radius: 20px;
}
.shop-icon{
    width: 100px;
    position: absolute;
    top: -25%;
    height: auto;
}
.settings-cont{
    width: 100%;
    height: 100%;
    background-color:#e0e0e0;
    padding: 0; 
}
.settings-menu{
    height: 100%;
    display: flex;
    justify-content: flex-start
}
.settings-nav ul{
    width: 100%;
}
.settings-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 426px;
    min-width: 50px;
    height: 100%;
    background-color: #161920;
}
.settings-nav .collection{
    border: none !important;
}
.settings-nav .collection .collection-item{
    background-color: #161920;
    border: none !important;
}
.settings-nav ul li{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.settings-nav ul li:hover{
    background-color: #d4d6dd;
    box-shadow: 0 0 5px 2px #767676;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.settings-nav ul li div{
    
    margin-right: 5%;
    }
.card-settings{
    display: flex;
}
.setting-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-settings a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Высота на весь слой */
}
.side-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #697787;
    height: 200px;
    margin: 1% !important;
    padding: 3%;
    border-radius: 20px;
    
}
.side-btn:hover{
    
}
.side-content{
    width: 100%;
    height: 80%;
    margin:4%;
    padding: 2%;
}
.settings-content{
    height: 100%;
}
.settings-block{
    background-color: #5454540D;
    margin: 2%;
    border-radius: 10px;
  
    padding: 2%;
}
.settings-function{
    border-top: 1px solid rgba(0,0,0,0.15);
    padding: 1%;
    display: flex;
    justify-content: flex-end;
}
.category_info{
    width: 100%;
    margin: 1%;
    padding: 3%;
    height: 100px;
    border: 1px solid #767676;
}
#test2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 90%; 
    min-height: 90%; 
    overflow-y: scroll; 
    padding-top: 5%;
}
.catheader{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}
.catbody{
    display: flex;
    flex-direction: column;
}
.dropdown-content{
    width: max-content !important;
    height:auto !important;
 }
.col-field{
    box-shadow: 0 0 3px rgba(0,0,0,0.15);

}
.collection{
    border: 1px solid #e0e0e0 !important;
}
.collection .collection-item{
    border-bottom: 1px solid #e0e0e0 !important;
}
.update-desc-area{
    width: 60% !important;
    height: 180px !important;
    resize: none !important;
    margin-top: 2%;
    display: none;
}
.save_cat_changes{
    position: absolute;
    bottom: 0;
    margin: 1%;
    padding: 1% !important;
    display: none !important;
}
.save_cat_changes.displayed{
    display: unset !important;
}
.setting-div{
    display: flex;
    height: 100%;
}