{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="width: 100%; height: 100%; display: flex;">
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background blue">
                </div>
                <a href="#user"><img class="circle" src="{% static 'img/main-coube.png'%}"></a>
                <a href="#name"><span class=" name">{{user}}</span></a>
                <a href="#email"><span class="email">{{user.email}}</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">arrow_upward</i>Передать показания</a></li>
        <li><a href="#!"><i class="material-icons">notifications_none</i>Уведомления</a></li>
        <li><a href="#!"><i class="material-icons">credit_card</i>Платежи</a></li>
        <li><a href="#!"><i class="material-icons">storage</i>Задолженность</a></li>
        <li><a href="/my/settings/?tab=Profile"><i class="material-icons">account_box</i>Мои данные</a></li>
        <li><a href="{% url 'settings'%}"><i class="material-icons">settings</i>Настройки</a></li>
    </ul>
    <div class="sideinfograph hide-on-small-only">
        <div class="collection" style="border: none;">
            <a href="#!" class="collection-item "><i class="material-icons left"
                    style="margin-left:20px !important;">arrow_upward</i>Передать показания</a>
            <a href="#!" class="collection-item "><i class="material-icons left"
                    style="margin-left:20px !important;">notifications_none</i>Уведомления</a>
            <a href="#!" class="collection-item "><i class="material-icons left"
                    style="margin-left:20px !important;">credit_card</i>Платежи</a>
            <a href="#!" class="collection-item "><i class="material-icons left"
                    style="margin-left:20px !important;">storage</i>Задолженность</a>
            <a href="/my/settings/?tab=Profile" class="collection-item "><i class="material-icons left"
                    style="margin-left:20px !important;">account_box</i>Мои данные</a>
            <a href="{% url 'settings'%}" class="collection-item "><i class="material-icons left"
                    style="margin-left:20px !important;">settings</i>Настройки</a>
        </div>
        <div class="shop-button" style="bottom: 0;">
            <img src="{%static 'img/ShopOnline.png'%}" alt="" class="shop-icon">
            Онлайн-каталог
            <a class="waves-effect waves-light btn"
                style="background-color: #49848f; width: 90%; border-radius: 10px;">Перейти</a>
        </div>
    </div>
    <div class="cabinetblock row">
        <div class="addable-card card"
            style="display: none; margin: 0 !important; position: fixed; bottom: 0; right: 10%; z-index: 2; width: 350px">
            <div style="padding: 3% 2%; text-align: center; background-color: #fefefe; position: relative;">
                <span class="card-title" style="text-align: center; white-space: nowrap;">Добавление устройства</span>
                <a class="close-card" href="#" style="position: absolute; top: 5px; right: 5px;"><i
                        class="material-icons">close</i></a>
            </div>
            <div style="height: 400px; background-color: #ecf7f9; position: relative;">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="uid_cube" type="text" class="validate">
                        <label for="uid_cube">ID устройства</label>
                    </div>
                </div>
                <a class="register_cube btn" style="float: right; margin-right: 3%;"><i
                        class="material-icons right">send</i>Добавить</a>
                <div class="sub_info_cube"
                    style="width: 100%; z-index: 5; position: absolute;  left: 0; bottom: 0;  height: 400px; display: none; background-color: #ecf7f9;">
                    <h6 style="color: green; text-align: center;">Добавление прошло успешно</h6>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="cube_name" type="text" class="validate">
                            <label for="cube_name">Имя устройства</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="adress_cube" class="materialize-textarea"></textarea>
                            <label for="adress_cube">Адрес куба</label>
                        </div>
                    </div>

                    <h6 style="margin-right:3%; text-align: end;">
                        <a class="register_cube_put btn">Сохранить</a>
                    </h6>
                    <h6 style="margin-right:3%; text-align: end;">
                        <a class="close-card" href="#" class="skipped_cube">Пропустить ></a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <a href="/">Главная</a>
                    <i class="material-icons">chevron_right</i>
                    <a href="/my">Мой кабинет</a>
                </div>
            </div>
            <div class="hello-block">
                <div class="row" style="position: relative;">
                    <div class="col s7" style="padding: 4% 8%;">
                        <h5 style="font-weight: bold; color: #638791;">Здравствуйте, {{user.get_username}}</h5>
                        <p>За последнее время произошло N непредвиденных ситуаций</p>
                    </div>
                    <div class="col s5">
                        <img class='helloimg' src="{%static 'img/hellodiv.png'%}" alt="">
                    </div>
                </div>
            </div>
            <div style="width: 100%; display: flex; align-items: center;">
                <h3 style="margin: 0; margin-right: 10px;">Куб №{{selected_cube}}</h3>
                <a class="show_cube_list btn-floating btn-small waves-effect waves-light"
                    style="background-color: #49848f !important;"><i class="material-icons">chevron_right</i></a>
                <div id="cube_list_choise" style="display: flex;">
                    {%for cube in cub_list%}
                    <div
                        style="display: flex; flex-direction: column; align-items: center; margin: 0 5%;  position: relative;">
                        <a href="?cube={{cube.id}}"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></a>
                        <img src="{%static 'img/icon1.png'%}" style="width: 60px; height: 60px;" alt="">
                        <h6 style="font-size: 12px; white-space: nowrap;">Куб №{{cube.id}}</h6>
                    </div>
                    {%endfor%}
                    <div
                        style="display: flex; flex-direction: column; align-items: center;justify-content: flex-end; margin: 0 5%;  position: relative;">
                        <a class="add-cube btn-floating btn-medium waves-effect waves-light"
                            style="background-color: #49848f !important;"><i class="material-icons">add</i></a>
                        <h6 style="font-size: 12px; white-space: nowrap;">Добавить куб</h6>
                    </div>
                </div>
            </div>
            <h4>Датчики</h4>
            <div class="case-list">
                <div class="device card hoverable" style="position: relative;">
                    <div
                        style="width: 100%; padding: 3% 2%; white-space: nowrap; text-align: center; background-color: #3FC0D4;">
                        <span class="card-title" style="text-align: center;">Добавить</span>
                    </div>
                    <div
                        style="padding: 3%; height: 200px; display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
                        <div class="input-field">
                            <input id="short_pass" type="text" maxlength="8">
                            <label for="short_pass">Введите код активации</label>
                        </div>

                        <a id="{{selected_cube}}" class="bind_device waves-effect waves-light btn"
                            style="background-color: #007487;">Добавить</a>

                    </div>
                </div>
                
                {% for key, values in selected_cube_info.items%}
                
                {%for sensor in values%}
                <div class="device card" id='device-{{sensor.id}}'>
                    <a id="{{sensor.id}}"
                        style="z-index: 2; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                        class="modal-trigger get_device_info" data-cube="cube_device_{{selected_cube}}" href="#modal{{sensor.id}}"></a>
                    <div
                        style="width: 100%; padding: 3% 2%; white-space: nowrap; text-align: center; background-color: #3FC0D4;">
                        {% if sensor.device_type == 0 %}
                        <span class="card-title" style="text-align: center;">Датчик шума</span>
                        {% elif sensor.device_type == 1 %}
                        <span class="card-title" style="text-align: center;">Датчик температуры</span>
                        {% elif sensor.device_type == 2 %}
                        <span class="card-title" style="text-align: center;">Датчик влажности</span>
                        {% elif sensor.device_type == 3 %}
                        <span class="card-title" style="text-align: center;">Датчик движения</span>
                        {% elif sensor.device_type == 4 %}
                        <span class="card-title" style="text-align: center;">Датчик открытия</span>
                        {% elif sensor.device_type == 5 %}
                        <span class="card-title" style="text-align: center;">Зарядка</span>
                        {% elif sensor.device_type == 6 %}
                        <span class="card-title" style="text-align: center;">Умная лампочка</span>
                        {% elif sensor.device_type == 7 %}
                        <span class="card-title" style="text-align: center;">Умные шторы</span>
                        {%endif%}

                    </div>
                    <div style="position: relative; width: 100%; display: flex; justify-content: center;">
                        <img src="{% static 'img/dat_noize.jpg' %}" alt="" style="width: 50%; height: auto; ">
                        {% if sensor.is_enabled %}
                        <div class='lamp on'></div>
                        {%else%}
                        <div class='lamp off'></div>
                        {%endif%}
                    </div>
                    <div class="actual-info noize-value">
                        {{sensor.description}}<br>
                        {{sensor.activation_date}}<br>
                    </div>
                </div>
                <div id="modal{{sensor.id}}" class="modal" style="width: 70%;">
                    <div class="modal-content">
                        {% if sensor.device_type == 0 %}
                        <h4 style="text-align: center;">Датчик шума</h4>
                        {% elif sensor.device_type == 1 %}
                        <h4 style="text-align: center;">Датчик температуры</h4>
                        {% elif sensor.device_type == 2 %}
                        <h4 style="text-align: center;">Датчик влажности</h4>
                        {% elif sensor.device_type == 3 %}
                        <h4 style="text-align: center;">Датчик движения</h4>
                        {% elif sensor.device_type == 4 %}
                        <h4 style="text-align: center;">Датчик открытия</h4>
                        {% elif sensor.device_type == 5 %}
                        <h4 style="text-align: center;">Зарядка</h4>
                        {% elif sensor.device_type == 6 %}
                        <h4 style="text-align: center;">Умная лампочка</h4>
                        {% elif sensor.device_type == 7 %}
                        <h4 style="text-align: center;">Умные шторы</h4>
                        {%endif%}
                        
                        <div style="width: 100%;" class="meta_info row">
                            <div class="col xl8 l8 s12">
                                <div class="input-field col s12">
                                    <textarea placeholder="Описание" id="device_description" class="materialize-textarea"></textarea>
                                    <label for="device_description">Описание</label>
                                </div>
                                <div class="input-field col s12">
                                    <input placeholder="Пороговое значениеи" id="threshold_value" type="text" class="validate">
                                    <label for="threshold_value">Пороговое значение</label>
                                </div>
                            </div>
                            <div class="col xl4 l4 s12" style="display: flex; justify-content: center; align-items: center;">
                                <div class="circle-data" >
                                    <p style="margin:0; font-size: 16px; position: absolute; bottom: 0; left: 105%;">дб</p>
                                    <div style="font-size: 80px; position: relative;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="text-align: center;">История</h4>
                        <div class="date_history" style="width: 100%; display: flex; align-items: center; justify-content: space-around;">
                            <h6>От: </h6>
                            <input class="date_start_hist" style="width: 60% !important; margin: 0 4%;" type="date">
                            <h6>До: </h6>
                            <input class="date_end_hist" style="width: 60% !important;margin: 0 4%;" type="date">

                        </div>
                        <div class="row">
                            <div id="{{selected_cube}}" class="col s12">
                              <ul id="history_cont_{{sensor.id}}" class="tabs" style="display: flex; justify-content: center;">
                                <li class="tab"><a id="today" href="#history_contain" class="history_tabs active">Сегодня</a></li>
                                <li class="tab"><a id="yesterday" href="#history_contain" class="history_tabs">Вчера</a></li>
                                <li class="tab"><a id="week" href="#history_contain" class="history_tabs">Неделя</a></li>
                                <li class="tab"><a id="month" href="#history_contain" class="history_tabs">Месяц</a></li>
                                <li class="tab"><a id="year" href="#history_contain" class="history_tabs">Год</a></li>
                              </ul>
                            </div>
                            <div id="history_contain" class="col s12 changed_tabs_content_{{sensor.id}}"></div>
                          </div>
                        <!-- Отрисовка графика -->
                        <canvas id = "chart"></canvas>
                        <a data-cube="{{selected_cube}}" data-device="{{sensor.id}}" class="waves-effect waves-light btn report_create" style="width: 100%; margin: 4% 0;">Составить отчет</a>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Сохранить</a>
                    </div>
                </div>
                {%endfor%}
                {%endfor%}
            </div>
        </div>
        <div class='news-list col s12'>
            <div class="news">
                <h4>События</h4>
                <div class="news-pad">
                    <ul>
                        <li>
                            <div class="news-item">
                                <div class="new-icon red-pin"><i class="material-icons">search</i></div>
                                <div class="new-content">
                                    <div class="card white">
                                        <div class="card-content black-text">
                                            <span class="card-title">Card Title</span>
                                            <p>I am a very simple card. I am good at containing small bits of
                                                information.
                                                I am convenient because I require little markup to use effectively.</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">This is a link</a>
                                            <a href="#">This is a link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="news-item">
                                <div class="new-icon orange-pin"><i class="material-icons">wifi</i></div>
                                <div class="new-content">
                                    <div class="card white">
                                        <div class="card-content black-text">
                                            <span class="card-title">Card Title</span>
                                            <p>I am a very simple card. I am good at containing small bits of
                                                information.
                                                I am convenient because I require little markup to use effectively.</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">This is a link</a>
                                            <a href="#">This is a link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="news-item">
                                <div class="new-icon orange-pin"><i class="material-icons">wifi</i></div>
                                <div class="new-content">
                                    <div class="card white">
                                        <div class="card-content black-text">
                                            <span class="card-title">Card Title</span>
                                            <p>I am a very simple card. I am good at containing small bits of
                                                information.
                                                I am convenient because I require little markup to use effectively.</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">This is a link</a>
                                            <a href="#">This is a link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="{% static 'js/Cabinet.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/Cabinet.css' %}">
{% endblock %}