{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Cart.css' %}">
<div class="cart-main">
    <h3>Корзина</h3>
    <div class="main-contain">
        <!--  -->
        <div class="row">
           
            <div class="list-cart col m8 s12">
                {% for product in product_cart %}
                <div class="card cart-item">
                    <div style="display: flex; justify-content:space-around; width: 65%;">
                    <p>
                        <label>
                          <input checked type="checkbox" id="cart-product-{{product.id}}" class="cart-checker" price="{{product.price}}" />
                          <span></span>
                        </label>
                    </p>
                    <img class="thumb-nails" src="{% static 'img/dat_noize.jpg' %}" alt="Изображение">
                    <div class="staff-info" style="max-width: 200px;">
                        <h6 style="font-size: 14px;">Наименование:</h6>
                        <a href="#" style="font-size: 14px;">Датчик температуры для системы SmartCube</a>
                        <span style="font-size: 14px; font-weight: bold; display: flex;">Цена:<h6 class="item-price" style="display: flex; align-items: center; font-size: 14px; font-weight: bold; margin: 0 5px !important;">{{product.price}}</h6>руб.</span>
                    </div>
                    <div class="number" >
                        <h6 style="font-size: 14px;">Количество:</h6>
                        <div class="prod_counter">
                            <span class="minus" id='prod-minus-{{product.id}}'>-</span>
                            <input disabled class="browser-default" style="width: 30px;" type="text" value="1" size="20"/>
                            <span class="plus" id='prod-plus-{{product.id}}'>+</span>
                        </div>
                    </div>
                </div>
                    <div class="summa" style="margin-left: 20px;">
                        <h6 style="font-size: 14px;">Сумма:</h6>
                        <h4 class="cash-price" style="font-weight: bold; margin: 2% 0; white-space: nowrap;" value="{{product.price}}">{{product.price}} руб.</h4>
                    </div>
                </div>
                {% endfor %}
                <a class="hoverable waves-effect waves-light btn white black-text" style="margin: 1%; border: 1px solid black;">Продолжить покупки</a>
                <div style="float: right; background-color: #d8eaf4; margin: 1%; padding: 0 4% 4% 4%;">
                    <div style="display: flex; justify-content: space-around;"><h4>Цена:</h4><h4 id="total_price" style="font-weight: bold;">руб.</h4></div>
                    <a class="waves-effect waves-light btn order_cart" style="background-color: #638791; width: 100%;">Оформить заказ</a>
                </div>
            </div> 
            
            <div class="map-cart col m4 s0">
                <ul class="collection" style="border: none !important;">
                    <li class="collection-item active marg">Корзина</li>
                    <li class="collection-item marg">Оформление заказа</li>
                    <li class="collection-item marg">1. Контактные данные</li>
                    <li class="collection-item marg">2. Выбор оплаты и доставки</li>
                    <li class="collection-item marg">3. Подтверждение заказа</li>
                  </ul>
            </div>
        </div>
        
    </div>
</div>
<script src="{% static 'js/Cart.js' %}"></script>
{%endblock%}