{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="width: 100%;">
    <p style="width: 100%; text-align: center; font-size: xx-large; margin: 0; padding-top: 1%; padding-bottom: 2%;">Контактные данные</p>
    <div style="width: 100%; display: flex; justify-content: center; padding: 3%;">
        
        <div class="row">
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="material-icons large">phone</i>
                <p class="promo-caption"><strong>Позвоните нам</strong></p>
                <p class="light center">Есть вопросы? Мы поможем!</br>
                    <strong>Телефон:</strong> 8-995-125-34-35
                </p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="material-icons large">chat</i>
                <p class="promo-caption"><strong>Напишите нам</strong></p>
                <p class="light center">Идеи? Предложения? <br>
                    Мы открыты для любых <br>
                    вопросов!
                </p>
                <p class="light center">Написать на:<br><a href="#">smartcube@gmail.com</a></p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="material-icons large">desktop_windows</i>
                <p class="promo-caption"><strong>Обратная связь</strong></p>
                <p class="light center">Поделить мнением о нашей работе<br>
                и помогите нам стать<br>
                лучше!</p>
                <p class="light center"><a href="#feedback">Оставить отзыв</a></p>
              </div>
            </div>
          </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <p style="width: 100%; text-align: center; font-size: xx-large; margin: 0; padding-top: 1%; padding-bottom: 2%; border-top:2px solid rgba(0, 0, 0, 0.1);">Дополнительная информация</p>
        <ul class="collapsible" style="display: flex; flex-direction: column; width: 80%;">
            <li>
              <div class="collapsible-header"><strong style="font-size: 20px;">О компании</strong><i class="material-icons" style="margin-left: auto;">add</i></div>
              <div class="collapsible-body">
                  <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
              <div class="collapsible-header"><strong style="font-size: 20px;">Для бизнеса</strong><i class="material-icons" style="margin-left: auto;">add</i></div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><strong style="font-size: 20px;">Для партнеров</strong><i class="material-icons" style="margin-left: auto;">add</i></div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
          <div id="map" style="height: 400px; width: 80%;"></div>
    </div>
    <div id="feedback" class="row section scrollspy" style="display: flex !important; justify-content: center;">
        <div>
            <h4>Адрес</h4>
            <p>484000, Россия, Челябинск</p>
            <p>пр. Ленина, д.78</p>
            <p><strong>Тел.:</strong> +7-995-125-34-35</p>
            <p><strong>Часы работы:</strong> 11:00-19:00</p>
        </div>
        <div class="col s4" style="margin-left: 4%;">
            <h4>Оставить отзыв</h4>
            <p>Оставьте свою заявку, и мы свяжемся с вами.</p>
            <div class="row">
                <div class="col s6">
                    <input id="user_name" type="text" placeholder="Введите имя" value="{{ user.first_name }}">
                    <input id="user_mail" type="email" placeholder="Введите email" value="{{ user.email }}">
                    <input id="user_phone" type="text" placeholder="Введите телефон">  
                </div>
                <div class="col s6">
                    <textarea id="message" name="" id="" cols="60" rows="100" style="height: 158px;" placeholder="Описание отзыва"></textarea>
                </div>
                <div class="col s12" style="display: flex; flex-direction: column;">
                    <a class="waves-effect waves-light btn send_feedback" style="background-color: #638791;">Отправить</a>
                </div>
            </div>
                  
        </div>
    </div>
</div>
<script src="{% static 'js/Contact.js' %}"></script>
{% endblock %}
<!--  -->