{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/MakeOrder.css' %}">
<div style="height: 100vh; width: 100%; background-color: #efeff0; padding: 5%;">
    <h4>Оформление заказа</h4>
    <div class="row">
        <div class="col s7 assign-documents">
            <div style="width: 100%; ">
                <h5>Детали оплаты</h5>
            </div>
            <div style="width: 100%; border-bottom:1px solid rgba(0, 0, 0, 0.15);"></div>
            <div class="input-field">
                <input id="FIO" type="text" class="validate">
                <label for="FIO">Ф.И.О.</label>
            </div>
            <div class="input-field">
                <input id="address" type="text" class="validate">
                <label for="address">Адрес</label>
            </div>
            <div class="input-field">
                <input id="city" type="text" class="validate">
                <label for="city">Город</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="country" type="text" class="validate">
                    <label for="country">Страна</label>
                </div>
                <div class="input-field col s6">
                    <input id="region" type="text" class="validate">
                    <label for="region">Область</label>
                </div>
                <div class="input-field col s6">
                    <input id="mail_index" type="text" class="validate">
                    <label for="mail_index">Почтовый индекс</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone" type="text" class="validate">
                    <label for="phone">Телефон</label>
                </div>
            </div>
        </div>
        <div class="col s5 additional-info">
            <h5 style="border-bottom: 1px solid rgba(0,0,0,0.15)">Ваш заказ</h5>
            <div style="margin-left: 10%;">
                <div style="display: flex; justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,0.15)">
                    <h6 style="font-weight: bold;">Товар</h6>
                    <h6 style="font-weight: bold;">Итого</h6>
                </div>
                <div>
                    <!-- for in tovar list -->
                    <div style="display: flex; justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,0.15)">
                        <h6>Наименование товара</h6>
                        <h6 style="font-weight: bold;">x1</h6>
                        <h6>4600р</h6>
                    </div>
                    <div style="display: flex; justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,0.15)">
                        <h6>Наименование товара</h6>
                        <h6 style="font-weight: bold;">x1</h6>
                        <h6>4600р</h6>
                    </div>
                    <!-- endfor -->
                </div>
                <div style="display: flex; justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,0.15)">
                    <h6 style="font-weight: bold;">Итого:</h6>
                    <h6>4600р</h6>
                </div>
                <div style="display: flex; justify-content: space-between; border-bottom: 3px solid rgba(0,0,0,0.15)">
                    <h6 style="font-weight: bold;">Итого с доставкой:</h6>
                    <h6 style="font-weight: bold;">4600р</h6>
                </div>
            </div>
            
            <div style="margin-left: 7%;">
                <h6 style="font-weight: bold;">Выберите способ доставки:</h6>
                <div class="input-field" style="width: 100%;">
                    <select>
                      <option value="1">Доставка</option>
                      <option value="2">Самовывоз</option>
                    </select>
                </div>
                <p>
                    Ваши личные данные будут использоваться для обработки
                    ваших заказов, упрощения вашей работы с сайтом и для
                    других целей, описаных в нашей <a href="#">политике конфеденциальности</a> 
                </p>
                <label>
                    <input type="checkbox" />
                    <span>Я прочитал и согласен с <a href="#">правилами и условиями</a> сайта</span>
                </label>
                <a class="waves-effect waves-light btn" style="background-color: #638791; width: 100%; margin-top: 4%;">Подтвердить заказ</a>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/MakeOrder.js' %}"></script>
{%endblock%}
