{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/SalePage.css' %}">

<div class="modal-wrapper hide-on-small-only">
  <div class="col s12" style="font-size: 20px;">
    <ul class="table-of-contents" style="display: flex; justify-content: space-around;">
      <li><a href="#introduction">Главная</a></li>
      <li><a href="#advantages">Об устройстве</a></li>
      <li><a href="#offers">Услуги</a></li>
      <li><a href="#news">Новости</a></li>
      <li><a href="#faq">Вопрос-ответ(FAQ)</a></li>
    </ul>
  </div>
</div>

<div class="col  m9 l10 s12">
  <div id="introduction" class="section scrollspy" style="padding: 0;">
    <div>
      <div style="background-color: #d8eaf4;">
        <div class="intro-content">
          <div>
            <h3>Умный куб -</br>легко подключить,</br>комфортно жить</h3>
            <p style="font-size: 1.6rem;">
              • Технологии комфорта</br>
              • Разумная экономия</br>
              • Полная безопасность</p>
            <a href="#offers" class="waves-effect waves-light btn-large main-button" style="background-color: #2E4278;">Заказать</a>
          </div>
          <div class="hide-on-small-only">
            <img class="main-img" src="{% static 'img/main-coube.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex; width: 100%; height: 20vh; justify-content: center; align-items: center;">
    <h2>Устройство "Куб"</h2>
  </div>
  <div id="advantages" class="section scrollspy" style="padding: 0;">
    <div class="desc-container">
      <div class="row">
        <div class="col xl4 l6 m6 s12">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 6rem;">verified_user</i>
            </div>
            <div class="card-content">
              <h5>Защита</h5>
              <p>Защита от шумных соседей в многоквартирных домах.</p>
            </div>
          </div>
        </div>
        <div class="col xl4 l6 m6 s12">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 6rem;">remove_red_eye</i>
            </div>
            <div class="card-content">
              <h5>Наблюдение</h5>
              <p>Держите все под контролем, даже когда вы не дома.</p>
            </div>
          </div>
        </div>
        <div class="col xl4 l6 m6 s12">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 6rem;">laptop_mac</i>
            </div>
            <div class="card-content">
              <h5>Работа с компьютера</h5>
              <p>Узнавайте больше дома или рабочего стола.</p>
            </div>
          </div>
        </div>
        <div class="col xl4 l6 m6 s12">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 6rem;">lightbulb_outline</i>
            </div>
            <div class="card-content">
              <h5>Энергосбережение</h5>
              <p>Вам не придется беспокоиться об энергозатратности устройства.</p>
            </div>
          </div>
        </div>
        <div class="col xl4 l6 m6 s12">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 6rem;">phone_android</i>
            </div>
            <div class="card-content">
              <h5>И телефона</h5>
              <p>Даже когда вы в движении, будьте в курсе событий.</p>
            </div>

          </div>
        </div>
        <div class="col xl4 l6 m6 s12">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 6rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Поддержка</h5>
              <p>Мы ответим на все возникающие у вас вопросы.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row hide-on-small-only" style="margin: 0;">
  <div class="parallax-container col s9">
    <div class="parallax"><img src="{% static 'img/parallax.jpg' %}" style="width: 100%;"></div>
  </div>
  <div class="col s7 triangle"></div>
  <div style="position: relative; padding: 10%;">
    <h4>Some text</h4>
    <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
  </div>
</div>
<div class="hide-on-med-and-up" style="width: 100%; height: 40vh; background-color:#638791; ">
</div>
<div id="offers" class="section scrollspy"
  style="padding: 0; display: flex; flex-direction: column; align-items: center;">
  <div style="width: 90%;">
    <h2>Наши предложения</h2>
  </div>

  <div style="width: 90vw;">
    <div>
      
      <div id="test1" class="buy-block">
        <div class="offers-item">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 8rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Базовая комплектация<br>
                  Детектор шума и ...
              </h5>
            </div>
            <h3 style="text-align: right; margin-right: 20px;">3000 руб.</h3>
            <a class="waves-effect waves-light btn" style="margin: 4%; background-color: #2E4278;">Перейти к оформлению</a>
          </div>
        </div>
        <div class="offers-item">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 8rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Средняя комплектация<br>
                  Детектор шума и ...
              </h5>
            </div>
            <h3 style="text-align: right; margin-right: 20px;">3000 руб.</h3>
            <a class="waves-effect waves-light btn" style="margin: 4%; background-color: #2E4278;">Перейти к оформлению</a>
          </div>
        </div>
        <div class="offers-item">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 8rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Улучшенная комплектация<br>
                  Детектор шума и ...
              </h5>
            </div>
            <h3 style="text-align: right; margin-right: 20px;">3000 руб.</h3>
            <a class="waves-effect waves-light btn" style="margin: 4%; background-color: #2E4278;">Перейти к оформлению</a>
          </div>
        </div>
        <div class="offers-item">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 8rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Максимальная комплектация<br>
                  Детектор шума и ...
              </h5>
            </div>
            <h3 style="text-align: right; margin-right: 20px;">3000 руб.</h3>
            <a class="waves-effect waves-light btn" style="margin: 4%; background-color: #2E4278;">Перейти к оформлению</a>
          </div>
        </div>
        <div class="offers-item">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 8rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Максимальная комплектация<br>
                  Детектор шума и ...
              </h5>
            </div>
            <h3 style="text-align: right; margin-right: 20px;">3000 руб.</h3>
            <a class="waves-effect waves-light btn" style="margin: 4%; background-color: #2E4278;">Перейти к оформлению</a>
          </div>
        </div>
        <div class="offers-item">
          <div class="card">
            <div class="card-image" style="display: flex; justify-content: center;">
              <i class="material-icons" style="font-size: 8rem;">settings_phone</i>
            </div>
            <div class="card-content">
              <h5>Максимальная комплектация<br>
                  Детектор шума и ...
              </h5>
            </div>
            <h3 style="text-align: right; margin-right: 20px;">3000 руб.</h3>
            <a class="waves-effect waves-light btn" style="margin: 4%;">Перейти к оформлению</a>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="news" class="section scrollspy"
  style="padding: 0; display: flex; flex-direction: column; align-items: center;">
  
  <div style="width: 90%;">
    <h2>Новости</h2>
  </div>
  <div class="news-item-main">
    <div style="width: 40%;">
      <h4>Каждый второй дом оснащен кубом</h4>
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
    <div style="width: 40%;">
    <img src="{% static 'img/news_picture1.jpg' %}" alt="Picture" style="width: 100%; max-height: 50vh; object-fit: cover;"></div>
  </div>
  <div class="news-item-main">
    <div style="width: 40%;">
      <img src="{% static 'img/news_picture2.jpg' %}" alt="Picture" style="width: 100%; max-height: 50vh; object-fit: cover; object-position:top;"></div>
    <div style="width: 40%;">
      <h4>Мы открылись</h4>
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
    
  </div>

  <a class="waves-effect waves-light btn-large" style="margin-bottom: 5%; background-color: #638791;">Еще новости</a>
</div>>
<div style="border-bottom: 2px solid rgba(94, 89, 89, 0.5);"></div>
<div id="faq" class="section row scrollspy" style="padding: 0; width: 100%;margin: 5%; display: flex; flex-direction: column; align-items: center;">
  <div style="width: 90%;">
    <h2>Часто задаваемые вопросы</h2>
  </div>
  <div class="col s12">
  <ul class="collapsible popout">

    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Где купить куб?</div>
      <div class="collapsible-body"><span>Приобрести куб, докупить модули к станции, а так же инстуркцию по его устанановке и эксплуатации вы можете в онлайн магазине, ссылка находится в шапке страницы.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Смогу ли я сам настроить его и установить для управления домом?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Куда жаловаться при регистрации шумов?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
</div>
</div>
{% endblock %}