
<!--  -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
<div class="settings-div">
    <div class="settings-cont">
        <div class="settings-menu">
            <div class="sideinfograph hide-on-small-only">
                <div class="collection" style="border: none;">
                    <a class="collection-header">
                        <h6 style="padding: 0 20px; font-weight: bold;">Настройки профиля</h6>
                    </a>
                    <a href="?tab=Profile" class="collection-item ">Профиль</a>
                </div>
                <div class="collection" style="border: none; width: 100%;">
                    <a class="collection-header">
                        <h6 style="padding: 0 20px; font-weight: bold;">Настройки кубов</h6>
                    </a>
                    <a href="?tab=Cubes" class="collection-item ">Настройка куба</a>
                    <a href="?tab=Sides" class="collection-item ">Настройка сторон</a>
                </div>
                <div class="shop-button">
                    <img src="{%static 'img/ShopOnline.png'%}" alt="" class="shop-icon">
                    Онлайн-каталог
                    <a class="waves-effect waves-light btn"
                        style="background-color: #49848f; width: 90%; border-radius: 10px;">Перейти</a>
                </div>
            </div>
            <div class="side-content">
                <div class="settings-content">
                    {% if tab == "Profile" %}
                    <h3 style="margin-top: 0;">Моя учетная запись</h3>
                    <div class="settings-block">

                        <div style="width: 100%; height: 100%; position: relative;">

                            <div class="row">
                                <div class="col">
                                    <i class="material-icons" style="font-size: 200px;">account_circle</i>
                                    <h6 style="text-align: center;">Дата регистрации:</br> {{user.date_joined}}</h6>
                                </div>
                                <div class="col l7 s12" style="display: flex; flex-direction: column; ">
                                    <div class="" style=" display: flex; flex-direction: column; align-items: center;">

                                        <div class="Person-info"
                                            style="width: 100%; padding-top: 2%; display: flex; flex-direction: column;">
                                            <div class="input-field">
                                                <input id="second_name" type="text" class="validate"
                                                    value="{{user.last_name}}">
                                                <label for="second_name">Фамилия</label>
                                            </div>
                                            <div class="input-field">
                                                <input value="{{user.first_name}}" id="first_name" type="text"
                                                    class="validate">
                                                <label for="first_name">Имя</label>
                                            </div>
                                            <div class="input-field">
                                                <input value="{{user.email}}" id="email" type="text" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings-function">
                            
                            <div style="display: flex; justify-content: flex-end;">
                                <a href="" class="waves-effect waves-light btn"
                                    style="background-color: white;">Отмена</a>
                                <a id="user_update" class="waves-effect waves-light btn"
                                    style="font-size: 14px;color: white; margin-left: 4%;">Сохранить изменения</a>
                            </div>
                        </div>


                    </div>
                    <h5>Пароль и аутентификация</h5>
                    <a href="#modal_password" class="modal-trigger waves-effect waves-light btn-small white-text"
                        style="font-size: 14px;margin: 2% 0; color: white; background-color: #007487;">Изменить
                        пароль</a>
                    <div id="modal_password" class="modal" style="width: 44% !important;">
                        <div class="modal-content">
                            <h4 style="text-align: center;">Измените свой пароль.</h4>
                            <h5 style="text-align: center; font-weight: 400;">Введите текущий и новый пароли.</h5>
                            <div class="input-field">
                                <input id="past_pwd" type="password" class="validate">
                                <label for="past_pwd">Старый пароль</label>
                            </div>
                            <div class="input-field">
                                <input id="new_pwd" type="password" class="validate">
                                <label for="new_pwd">Новый пароль</label>
                            </div>
                            <div class="input-field">
                                <input id="confirm_pwd" type="password" class="validate">
                                <label for="confirm_pwd">Подтвердите пароль</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="pwd_change_btn" class="btn "
                            style="font-size: 14px;color: white;background-color: #B83232;">Сменить
                            пароль</a>
                        </div>
                    </div>
                    <h5>Двухфакторная аутентификация</h5>
                    <p>Защитите свою учётную запись дополнительным уровнем</br>
                    безопасности. После настройки для входа вам будет необходимо <br>
                ввести пароль и код подтверждения с электронной почты.</p>
                <a class="waves-effect waves-light btn modal-trigger white-text" href="#modal_double_auth" style="background-color: #007487;">Включить/Выключить двухфакторную аутентификацию</a>
                <div id="modal_double_auth" class="modal">
                    <div class="modal-content">
                    {%if is_verify %}
                    <h4>Двойная аутентификация: Включена</h4>
                    {% else %}
                    <h4>Двойная аутентификация: Отключена</h4>
                    {%endif%}
                      
                      <div style="display: flex; justify-content: space-between;">
                      <div class="switch">
                        <label>
                          Off
                          {%if is_verify%}
                          <input id="verify_status" type="checkbox" checked>
                          {%else%}
                          <input id="verify_status" type="checkbox">
                          {%endif%}
                          <span class="lever"></span>
                          On
                        </label>
                      </div>
                      <a id="change_verify_status" class="waves-effect waves-light btn ">Сохранить изменения</a>
                    </div>
                    </div>
                  </div>
                  <h5>Удаление учетной записи.</h5>
                  <a class="waves-effect waves-light btn white"
                  style="color: #B83232 !important; border: 1px solid #B83232;">Удалить учетную запись</a>  
                {% elif tab == "Cubes" or tab == "Sides" or tab == "Buttons"%}
                {% if tab == "Cubes"%}
                <h3 style="margin-top: 0;">Мои устройства</h3>
                {% elif tab == "Sides"%}
                <h3 style="margin-top: 0;">Грани устройства</h3>
                {% elif tab == "Buttons"%}
                <h3 style="margin-top: 0;">Кнопки устройства</h3>
                {%endif%}
                
                <div class="settings-block">
                    <div style="width: 100%; height: 100%; position: relative;">
                        <div class="row">
                            <div class="col s3">
                                {% for cube in cubes_list%}
                                <p>
                                    <label>
                                        {% if start_cube.id == cube.id %}
                                        <input class="cube_radio" name="group1" checked type="radio" id='{{cube.id}}' />
                                        {%else%}
                                        <input class="cube_radio" name="group1" type="radio" id='{{cube.id}}' />
                                        {%endif%}
                                        <span>{{cube.name}}</span>
                                    </label>
                                </p>
                                {%endfor%}
                            </div>
                            <!-- --------------------------------------------- -->
                            {% if tab == "Cubes"%}
                            <div class="col s9" style="border-left: 1px solid #878b96;">
                                <div class="input-field col s6">
                                    <input id="cube_name" type="text" class="validate" value="{{start_cube.name}}">
                                    <label for="cube_name">Название устройства</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="textarea_desc" class="materialize-textarea">{{start_cube.custom_description}}</textarea>
                                    <label for="textarea_desc">Описание куба</label>
                                </div>
                                <div class="col s12" style="width: 100%; display: flex; justify-content: flex-end;">
                                    
                                    <a id={{start_cube.id}} class="waves-effect waves-light btn put_changes_cube">Сохранить изменения</a>
                                </div>
                                <h5 class="col s12">Список пользователей</h5>
                                <ul id='cube-{{cube.id}}' class="col s12 subuser_cube">
                                    <li style="display: flex; width: 100%;"><a id='user-{{cube.id}}' class="btn-floating btn waves-effect waves-light red cube_user_add"><i class="material-icons">add</i></a></li>
                                </ul>
                                <div class="add_cube_user_block col s12" style="display: flex; align-items: center; display: none;">
                                    <div class="input-field col s6" style="margin: 0 !important;">
                                        <input id="cube_user_login" type="text" autocomplete="new-password">
                                        <label for="cube_user_login">Логин пользователя</label>
                                    </div>
                                    <div class="input-field col s6" style="margin: 0 !important;">
                                        <input id="cube_user_password" type="password" autocomplete="new-password">
                                        <label for="cube_user_password">Пароль</label>
                                    </div>
                                    <div class="col s12" style="display: flex; justify-content: flex-end;">
                                        <a id='{{start_cube.id}}' class="waves-effect waves-light btn add_cube_user">Добавить</a>
                                    </div>
                                </div>
                            </div>
                            <!-- --------------------------------------------- -->
                            {% elif tab == "Sides"%}
                            <div class="col s9 cube_sides">
                                <div class="col s12" style="display: flex; align-items: center; border-left: 1px solid #878b96;">
                                    <div style="width: 40px; height: 40px; background-color: black; border-radius: 4px;">
                                    </div>
                                    <div class="input-field col s5" style="margin-left: 5%;">
    
                                        <select>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                        <label>Красная грань</label>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
                {% else %}
                <div>404</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
{% endblock %}