<!--  -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Умный куб</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=cc478f66-f723-4a96-8e8b-50526fe12aac" type="text/javascript"></script>
    <script src="{% static 'js/icon_customImage.js'%}" type="text/javascript"></script>
</head>

<body>
    <nav class="hide-on-small-only" style="background-color: #add4df; padding-left: 10%; padding-right: 10%;">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="{%static 'img/logo.png'%}" alt="" style="position: absolute; z-index: 6; top: 0; left: -44px; width: 99px; height: 99px;"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/my" style="color: #212121; font-size: 17px;">Мой кабинет</a></li>
                <li><a href="{% url 'contacts'%}" style="color: #212121; font-size: 17px;">Магазин</a></li>
                <li><a href="{% url 'contacts'%}" style="color: #212121; font-size: 17px">Контакты</a></li>
                {% if user.is_authenticated %}
                <li class="username" style="color: #212121; padding-left: 15px; padding-right: 15px; font-size: 17px;">Здравствуйте, {{ user.get_username }}</li>
                <li><a href="{% url 'logout'%}?next=/" style="color: #212121; font-size: 17px;">Выход</a></li>
                {% else %}
                <li><a href="{% url 'login'%}" style="color: #212121;">Вход/Регистрация</a></li>
                {% endif %}
                <a href="{% url 'cart'%}" class="btn-floating btn waves-effect waves-light" style="background-color: #f5f5fb;"><i class="material-icons" style="color: black;">shopping_cart</i></a>
            </ul>
        </div>
      </nav>
    {% block content %}{% endblock %}
    <style>
        .mobile-nav{
            position: fixed;
            bottom: 0;
            height: 10vh;
            width: 100vw;
            z-index: 9999;
            background-color: #474749;
            display: flex;
            justify-content: space-around;
        }
        .mobile-nav *{
            color: white;
        }
    </style>
    <nav class="mobile-nav hide-on-med-and-up" style="color: white !important;">
        <div style="position: relative; display: flex; flex-direction: column; align-items: center; width: 15vw; height: 100%;">
            <a href="#" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></a>
            <div style="height: 50%;"><i class="material-icons" style="line-height: 52px;">shop</i></div>
            <h6 style="font-size: 12px;">Магазин</h6>
        </div>
        <div style="position: relative; display: flex; flex-direction: column; align-items: center; width: 15vw; height: 100%;">
            <a href="{% url 'cart'%}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></a>
            <div style="height: 50%;"><i class="material-icons" style="line-height: 52px;">shopping_cart</i></div>
            <h6 style="font-size: 12px;">Корзина</h6>
        </div>
        <div style="position: relative; display: flex; flex-direction: column; align-items: center; width: 15vw; height: 100%;">
            <a href="/my" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></a>
            <div style="height: 50%;"><i class="material-icons" style="line-height: 52px;">desktop_windows</i></div>
            <h6 style="font-size: 12px;">Кабинет</h6>
        </div>
        <div style="position: relative; display: flex; flex-direction: column; align-items: center; width: 15vw; height: 100%;">
            <a href="{%url 'settings'%}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></a>
            <div style="height: 50%;"><i class="material-icons" style="line-height: 52px;">account_circle</i></div>
            <h6 style="font-size: 12px;">Профиль</h6>
        </div>
        <div style="position: relative; display: flex; flex-direction: column; align-items: center; width: 15vw; height: 100%;">
            <a href="{%url 'settings'%}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></a>
            <div style="height: 50%;"><i class="material-icons" style="line-height: 52px;">settings</i></div>
            <h6 style="font-size: 12px;">Настройки</h6>
        </div>
        
    </nav>
    <!-- footer -->
    <footer class="page-footer" style="background-color: #add4df; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Полезные ссылки</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Вконтакте</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Умный Куб
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/include.js' %}"></script>
    <script src="{% static 'js/SalePage.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>