{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500" rel="stylesheet">
    <style type="text/css">
        .header-container{
            margin-bottom: 150px;
        }
        .header-container h1, .header-container h3{
            text-align: center;
            width: 100%;
            font-family: 'Fira Sans', 'Times New Roman', sans-serif;
        }
        .header-container img{
            position: absolute;
            top: 0;
            left: 0;
        }
        main{
            font-size: 20px;
        }
        section h2{
            font-size: 24px;
        }
        section span{
            font-weight: bold;
        }
        section{
            margin-bottom: 40px;
        }
        .full-info-table{
            border-collapse: collapse;
            width: 600px;
        }
        .full-info-table th, .full-info-table td{
            border: 1px solid grey;
            padding: 5px 7px;
        }
    </style>
</head>
<body>
    <header>
    <div class = 'header-container'>
        <img src="{% static 'img/logo.png' %}" alt="Логотип">
        <h1>Отчет о работе датчика шума</h1>
        <h3>{{ date_start }} - {{ date_end }}</h3>
    </div>
</header>
<main>
    <section class = 'device-info'>
        <h2>Информация о датчике</h2>
        <p><span>Имя куба:</span> {{ cub_name }}</p>
        <p><span>Дополнительное описание:</span> {{ device_description }}</p>
        <p><span>Дата активации:</span> {{ activation_date }}</p>
        <p><span>Установленное пороговое значение:</span> {{ threshold_value }}</p>
    </section>
    <section class = 'short-info'>
        <h2>Краткая сводка</h2>
        <p><span>Количество превышений:</span> {{ events_count }}</p>
        <p><span>Наибольшее значение превышенной нормы:</span> {{ max_value }}</p>
        <p><span>Дата и время наибольшего значения: </span> {{ max_value_date }}</p>
    </section>
    <section class="full-info">
        <h2>Полная информация</h2>
        <table class="full-info-table">
            <tr>
                <th>Значение</th>
                <th>Дата и время сработки</th>
            </tr>
            {% for event in events_list %}
               <tr>
                   <td>{{ event.value }}</td>
                   <td>{{ event.date }}</td>
               </tr>
            {% endfor %}
        </table>
    </section>
</main>
</body>
</html>